data_*
*~
Script.m
Script_ourscript.m
currentPosition.csv
gather_server
FOOTCLIENTW
client
footClient
handClient
imu_work
FOOTCLIENTW_testbyprinting.c
example.c
footClient_old.c
handClient.c
imu_work.c
test.csv